{
	http_port {$PORT}
	auto_https off
	admin off
	persist_config off
}

http://jameshartig.dev {
	root * /srv

	header * CDN-Cache-Control "max-age=3600"
	header * Cache-Control "public, max-age=300"

	handle_errors 404 {
		rewrite * /{err.status_code}.html
		file_server
	}

	handle /code/* {
		file_server * browse
	}

	handle {
		file_server
	}
}

http:// {
	reverse_proxy localhost:8080

	handle /healthz {
		respond "OK" 200
	}

	handle / {
		redir https://jameshartig.dev
	}

	handle {
		respond "not found" 404
	}
}
