{
	auto_https off
	admin off
	persist_config off
}

:{$PORT}

root * /srv

header * CDN-Cache-Control "max-age=3600"
header * Cache-Control "public, max-age=300"

file_server

handle_errors 404 {
	rewrite * /{err.status_code}.html
	file_server
}
